*{
    margin: 0;
    padding: 0;
}

body h1, h2, h3{
    font-family: var(--secondary-font);
}

body{
    color: var(--tetriary-color);
}

body p{
    font-family: var(--primary-font);
}

h1{
    font-size: 4rem;
}

:root{
   --primary-color:#2B5278; 
   --secondary-color:#A52E45;
   --tetriary-color:#EAD8B1;
   --primary-font:'Poppins', sans-serif;
   --secondary-font:'Inter', sans-serif;
}

/* Styling af header */
header{
    background:var(--primary-color);
    padding: 3rem;
}
/* styling af første header afsnit */
.heading-et{
    display: grid;
    grid-template-columns: 50% auto auto;
}

.heading-et .item1, .item2{
    justify-self: self-end;
}

.heading-et img{
    width: 70%;
}

.heading-et h1{
    display: flex;
    flex-direction: column;
}

.heading-to h3{
font-weight: normal;
font-size: 2rem;
padding-right: 1rem;
}

/* stling af andet header afsnit */
.heading-to{
    display: flex;
    padding-top: 4rem;
}

/* Styling af interaktiv historie */ 
.historie-sektion{
    display: flex;
    flex-direction: column;
}

.historie-sektion article{
    display: flex;
    flex-direction: column;
}